


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #03dfff;
    background: linear-gradient(139deg , #03ddffcb 0% , #ff0381b6 90%);
}

.container{
    position: relative;
    max-width: 800px;
    padding: 10px;
    margin: 0  auto;
}

.addTask{
    width: 100%;
    display: flex;
    padding: 10px 0;
}

.addTask input[type="text"]{
    width: 90%;
    color:#fff ;
    background: none;
    border: none;
    outline: none;
    border-bottom:1px solid #Fff ;
    font-size: 16px;
    padding: 10px;
}
input::placeholder{
    color: #fff;
}

.addTask button{
    margin: 0 10px;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

}

.not , .yes{
    margin: 5px 0;
    padding: 20px;
    color: #Fff;
    
}

h3{
    text-align: center;
    font-size: 16px;
}

ol{
    list-style: none;
    counter-reset: number;
}

ol li{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: linear-gradient(139deg , #14b1c9cb 0% , #d61375b6 90%);
    font-size: 16px;
}



ol li::before{
    content: counter(number);
    background: #14817c;
    width: 2rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 2rem;
    text-align: center;
    color: #fff;
    margin: 5px;

}

li button{
    float: right;
    padding: 5px;
    font-size: 20px;
    line-height: 28px;
    margin-right: 15px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
}